CompileFlags: # Tweak the parse settings
  Compiler: clang
  Add:
    - "-xc"
    - "-I/usr/include/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/vendor/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/stdme/include/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/allocator/include/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/stdme/vendor/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/stdme/output/include/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/stdme/generic_sources/header/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/include/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/output/include/"
    - "-I/home/maiboyer/Documents/ring-2/tokens/generic_sources/header/"
    - "-I/home/maix/school/tokens/vendor/"
    - "-I/home/maix/school/tokens/stdme/include/"
    - "-I/home/maix/school/tokens/allocator/include/"
    - "-I/home/maix/school/tokens/stdme/vendor/"
    - "-I/home/maix/school/tokens/stdme/output/include/"
    - "-I/home/maix/school/tokens/stdme/generic_sources/header/"
    - "-I/home/maix/school/tokens/include/"
    - "-I/home/maix/school/tokens/output/include/"
    - "-I/home/maix/school/tokens/generic_sources/header/"
    - "-I/home/raphael/42/tokens/vendor/"
    - "-I/home/raphael/42/tokens/stdme/include/"
    - "-I/home/raphael/42/tokens/allocator/include/"
    - "-I/home/raphael/42/tokens/stdme/vendor/"
    - "-I/home/raphael/42/tokens/stdme/output/include/"
    - "-I/home/raphael/42/tokens/stdme/generic_sources/header/"
    - "-I/home/raphael/42/tokens/includes/"
    - "-I/home/raphael/42/tokens/output/include/"
    - "-I/home/rparodi/Documents/tokens/vendor/"
    - "-I/home/rparodi/Documents/tokens/stdme/include/"
    - "-I/home/rparodi/Documents/tokens/allocator/include/"
    - "-I/home/rparodi/Documents/tokens/stdme/vendor/"
    - "-I/home/rparodi/Documents/tokens/stdme/output/include/"
    - "-I/home/rparodi/Documents/tokens/stdme/generic_sources/header/"
    - "-I/home/rparodi/Documents/tokens/includes/"
    - "-I/home/rparodi/Documents/tokens/output/include/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/vendor/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/stdme/include/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/allocator/include/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/stdme/vendor/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/stdme/output/include/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/stdme/generic_sources/header/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/includes/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/output/include/"
    - "-I/Users/raphael/Documents/42/cursus/tokens/generic_sources/header/"
